* {
	margin: 0px;
	font-size: 12px;
	font-family: Kumbh Sans;
}

/* colours */

:root {
	/* Button Colour */
	--button: black;
	/* primary */
	--linkBlue:  hsl(228, 45%, 44%);
		/* text */
		--Verydarkdesaturatedblue: hsl(238, 29%, 16%);
		--Softred: hsl(14, 88%, 65%);
		/* Background gradient: */
		--Softviolet: hsl(273, 75%, 66%);
		--Softblue: hsl(240, 73%, 65%);
	/* neutral */
		/* Text */
		--Verydarkgrayishblue: hsl(237, 12%, 33%);
		--Darkgrayishblue: hsl(240, 6%, 50%);
		/* Dividers */
		--lightgrayishblue: hsl(240, 5%, 91%);
}

/* =========== Back Button, Aim Links & Attribution =========== */
.header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 11px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 999px;
}

.back-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 30px;
	border: 1px solid var(--button);
	border-radius: 5px;
	margin: 5px;
	text-decoration: none;
}

.back p {
	color: var(--button);
	font-size: 11px;
}

.aim{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 100px;
	border: 1px solid var(--button);
	border-radius: 5px;
	margin: 5px;
	text-decoration: none;
}

.aim p {
	text-decoration: underline;
	color: var(--button);
	font-size: 11px;
	padding-bottom: 5px;
}

.aim-links {
	display: flex;
	width: 100%;
}

.link {
	width: 50%;
	text-align: center;
}

.aim-links a {
	text-decoration: none;
	color: var(--button);
	font-size: 11px;
}

.attribution {
	font-size: 11px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: center;
}
.attribution a {
	color: var(--linkBlue);
}

/* Mobile: 375px */

h1 {
	font-size: 2rem;
}

body {
	background-image: linear-gradient( var(--Softviolet), var(--Softblue) );
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--Verydarkdesaturatedblue);
}

.container{
	background: white;
	width: 280px;
	height: auto;
	border-radius: 20px;
	padding: 20px;
	padding-bottom: 45px;
}

.image {
	position: relative;
	height: 104px;
}

#top{
	position: absolute;
	z-index: 40;
	top: -122%;
}

#bottom	{
	position: absolute;
	z-index: 30;
	left: 0;
    right: 0;
    height: 104px;
    width: 100%;
    object-fit: contain;
    top: -20%;
}

.title {
	font-size: 1.5rem;
	padding-bottom: 15px;
	text-align: center;
}

.faq {
	padding: 20px 0px;
	border-bottom: 1px solid var(--lightgrayishblue);
}

.question {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
}


.answer {
	padding-right: 15px;
	color: var(--Darkgrayishblue);
	height: 0px;
}

.hide {
	display: none;
}

/* ==== Active FAQ ==== */

.active-quest {
	font-weight: 700;
}

.active-ans{
	height: auto;
}

.show{
	display: block;
	padding-top: 15px;
}

.active-arrow {
	transform: rotate(180deg);
}

/* Desktop: 1440px */